@import url('https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,400,500,600,700,800,900&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 

:root {
    --dark1: #0000004d;
    --dark2: #181c20;
    --dark3: #212529;
    --dark4: #2d3135;
    --dark5: #424549;
    --dark6: #404346;
    --dark7: #9c9c9c;
    --dark8: #dae0e7;
    --dark9: #262a2e;
    --font-color: 230 97 62;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000 !important;
    background-size: cover;
    background-position: center;
}
h4 {
    color: rgb(var(--font-color));
}
.modalTitle {
    color: rgb(var(--font-color));
}
.header {
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
}
.logo {
    font-size: 2em;
    color: rgb(var(--font-color));
    user-select: none;
}
.nagivation a {
    position: relative;
    font-size: 1.1em;
    color: rgb(var(--font-color));
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.nagivation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(var(--font-color));
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.nagivation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.nagivation .btnlogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(var(--font-color));
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(var(--font-color));
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.nagivation .btnlogin:hover {
    background: rgb(var(--font-color));
    color: #fff;
}
.nagivation .btnlogout {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(var(--font-color));
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(var(--font-color));
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.nagivation .btnlogout:hover {
    background: rgb(var(--font-color));
    color: #4d4d4d;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease-in-out, height .5s ease;
}
.wrapper.active-popup {
    transform: scale(1);
    transition: transform .5s ease-in-out;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper.active {
    height: 550px;

}
.wrapper .form-box.login {
    transition: transform .5s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login {
    transform: translateX(-400px);
}
.wrapper .form-box.regis {
    position: absolute;
    transition: transform .5s ease;
    transform: translateX(400px);
}
.wrapper.active .form-box.regis {
    transition: transform .5s ease;
    transform: translateX(0);
}
.wrapper .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgb(var(--font-color));
    font-size: 2em;
    color: #4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color: rgb(var(--font-color));
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid rgb(var(--font-color));
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(var(--font-color));
    pointer-events: none;
    transition: 0.5s;
}
.input-box input:focus~label, .input-box input:valid~label {
    top: -5px;
    font-size: 0.9em;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
    color: #fff;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(var(--font-color));
    line-height: 57px;
}
.rember-forgor {
    font-size: .9em;
    color: rgb(var(--font-color));
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.rember-forgor label input {
    accent-color: rgb(var(--font-color));
    margin-right: 3px;
}
.rember-forgor a {
    color: rgb(var(--font-color));
    text-decoration: none;
}
.rember-forgor a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: rgb(var(--font-color));
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.reg {
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
    text-decoration: none;
    font-weight: 600;
}
.reg p {
    color: #fff;
}
.reg a {
    color: rgb(var(--font-color));
    padding-left: 15px;
}
.reg p a:hover {
    text-decoration: underline;
}
.button {
    margin: 0 !important;
}
.nagivation a.button::after {
    width: 0 !important;
    height: 0 !important;
}
.footer {
    background-color: rgb(var(--font-color));
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark6);
}
.footer h1 {
    margin: 0;
}
.content {
    flex-grow: 1;
    text-align: center;
    padding: 40px;
}
.instruction-box {
    border: 2px solid rgb(var(--font-color));
    border-radius: 10px;
    padding: 30px;
    margin-top: 40px;
    background-color: var(--dark3);
    text-align: left;
    color: #fff;
}
.instruction-box h3 {
    color: rgb(var(--font-color));
    font-size: 24px;
    margin-bottom: 20px;
}
.instruction-box p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.instruction-box ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}
.instruction-box li {
    font-size: 16px;
    margin-bottom: 10px;
}
.feedback-box {
    border: 2px solid rgb(var(--font-color));
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    background-color: var(--dark3);
    text-align: center;
    color: #fff;
}
.feedback-box h3 {
    color: rgb(var(--font-color));
    font-size: 24px;
    margin-bottom: 20px;
}
.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-form label {
    margin-bottom: 10px;
    font-size: 18px;
}
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
.feedback-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(var(--font-color));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}